/* ----------- variables ------------ */
:root {
  --main-color: #e02f6b;
  --main-color-alpha-80: #e02f6b80;
  --blue: #0000ff;
  --blue-dark: #18293c;
  --orange: #ffa500;
  --green-yellow: #cddc39;
  --pink-light: #efa2b4;
  --cyan-light: #aef1ee;
  --white: #ffffff;
  --white-alpha-40: rgba(255, 255, 255, 0.4);
  --white-alpha-25: rgba(255, 255, 255, 0.25);
  --red-alpha-40: rgba(255, 0, 0, 0.4);
  --red-alpha-25: rgba(255, 0, 0, 0.25);
  --backdrop-filter-blur: blur(5px);
}
/* ---------------- fonts ------------------ */
@font-face {
  src: url(/src/Poppins/Poppins-Light.ttf);
  font-family: "Poppins";
  font-weight: 300;
}
@font-face {
  src: url(/src/Poppins/Poppins-Regular.ttf);
  font-family: "Poppins";
  font-weight: 400;
}
@font-face {
  src: url(/src/Poppins/Poppins-Medium.ttf);
  font-family: "Poppins";
  font-weight: 500;
}
@font-face {
  src: url(/src/Poppins/Poppins-SemiBold.ttf);
  font-family: "Poppins";
  font-weight: 600;
}
/* --------------global shit -------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(/src/img/bg.svg);
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--blue-dark);
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  padding: 20px 15px;
}
body.hide-scrolling {
  overflow-y: hidden;
}
body::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--green-yellow);
  z-index: -1;
  opacity: 0.12;
}
a {
  color: var(--main-color);
  text-decoration: none;
}
a:visited {
  color: var(--main-color);
}
h1,
h2 {
  font-weight: 600;
}
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
.main {
  max-width: 1200px;
  margin: auto;
  transition: all 0.5s ease-in-out;
  position: relative;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  min-height: calc(100vh - 50px);
  border-radius: 30px;
  backdrop-filter: var(--backdrop-filter-blur);
}
section {
  display: none;
}
section.active {
  display: block;
}
.container {
  padding: 0 40px;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-center{
 justify-content: center;
}
.hidden {
  display: none !important;
}
.sec-padding {
  padding: 40px 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
/* ----------------------- buttons ------------------ */
button {
  font-family: inherit;
  user-select: none;
}
.btn {
  line-height: 1.5;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  padding: 10px 28px;
  display: inline-block;
  border-radius: 30px;
  color: var(--main-color);
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.2s ease;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--main-color);
  z-index: -1;
  transition: width 0.2s ease;
}
.btn:hover::before {
  width: 100%;
}
.btn:hover {
  color: var(--white);
}
/* ---------------------------------- section tabs ---------------------- */
header {
  background-color: #efa2b440;
  padding: 10px 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.section-tabs {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  /* background-color: transparent;
  border-radius: 30px; */
  /* border: 2px solid var(--white-alpha-40); */
  border-bottom: transparent;
}
.section-tabs .tab-item {
  padding: 2px 0;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  display: inline-block;
  color: var(--blue-dark);
  font-size: 40px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 30px;
  position: relative;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.section-tabs .tab-item:last-child {
  margin: 0;
}
.section-tabs .tab-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: var(--blue-dark);
  transition: width 0.3s ease;
}
.section-tabs .tab-item:hover::before {
  width: 100%;
}
.section-tabs .tab-item.active::before {
  width: 100%;
  background-color: var(--main-color);
}
.section-tabs .tab-item.active {
  color: var(--main-color);
  opacity: 1;
  cursor: auto;
}
/* --------------------------- input form ------------------- */
.input-form {
  width: 100%;
  padding: 0 15px;
}
.input-form .input-group {
  width: 10%;
  margin-bottom: 20px;
}
.bisection-section form .input-group.equ {
  width: 70%;
}
.newton-section form .input-group.equ {
  width: 80%;
}
.trapezoidal-section form .input-group.equ {
  width: 70%;
}
.input-form .input-control {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--white-alpha-25);
  padding: 0 20px;
  color: var(--blue-dark);
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.input-form .input-control::placeholder {
  color: var(--blue-dark);
  opacity: 0.8;
  font-weight: 300;
}
.input-form .input-control:focus {
  border-color: var(--white-alpha-40);
}
/* .input-form .submit-btn {
  margin: auto;
} */
.input-form #example-btn {
  background-color: var(--main-color);
  padding: 10px;
  color: var(--white);
  transition: none;
  margin: 5px;
}
.input-form #example-btn::before {
  transition: none;
}
.input-form #solve-btn{
  margin: 5px;
}

.input-form textarea.input-control {
  height: 120px;
  resize: none;
  padding-top: 15px;
}

/* ----------------------- error ----------------------- */

.error {
  line-height: 2.5;
  background-color: var(--red-alpha-25);
  border: 1px solid var(--red-alpha-40);
  padding: 35px 35px;
  border-radius: 30px;
  color: var(--blue-dark);
  font-family: inherit;
  font-weight: 500;
  width: 100%;
  margin: 30px 0;
}
.error p {
  font-size: 30px;
  text-align: center;
}

/* ---------------------- answer --------------------- */
.answer {
  line-height: 2.5;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  padding: 100px 35px;
  border-radius: 30px;
  color: var(--blue-dark);
  font-family: inherit;
  font-weight: 300;
  width: 38%;
  margin: 30px 0;
  margin-right: 2%;
}
.answer h2 {
  color: var(--main-color);
  font-size: 45px;
  text-align: center;
}
.answer h3 {
  font-size: 20px;
}
.answer h3 span {
  color: var(--main-color);
  font-size: 30px;
}
/* ------------------------ graph ---------------------- */
.graph {
  width: 60%;
  margin: 30px 0;
  padding: 0;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  border-radius: 30px;
  overflow: hidden;
}

/* ----------------------- table ------------------ */
.table {
  width: 80%;
  margin: auto;
}
table {
  margin: 30px auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px var(--white-alpha-40);
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}
td,
th {
  padding: 15px 20px;
  text-align: center;
}
th {
  background-color: var(--main-color);
  color: var(--white);
  font-family: "Open Sans", Sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}
tr {
  width: 100%;
  background-color: var(--white-alpha-25);
  font-family: "Montserrat", sans-serif;
}
tr:nth-child(even) {
  background-color: var(--white-alpha-40);
}
/* ----------------- footer ------------------- */
footer {
  padding: 5px 20px;
  width: 100%;
  background-color: var(--white-alpha-25);

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  position: fixed;
  bottom: 0;
}
footer .row {
  justify-content: space-evenly;
  align-items: center;
}
